#myscroll {
 margin-top:20px;
  width: 704px;
  height:175px;
  top:410px;
  left:0px;
  right:0px;
  z-index: 1;
position:absolute;
  background-color:white;
 
}
 #back {
   top:10px;
  width: 720px;
  height:163px;
   background-color: bisque;
  position: absolute;
   text-align: center;
 
 }

#back img{

}

#left {
  position: absolute;
  left: 0;

 }

#left img{
     width:15px;
    height:183px;
} 
   
 #right {
  position: absolute;
  left: 16px;
  

 }
   
#right img{
    width:15px;
    height:183px;
} 
   

#description {
  position:absolute;
  left:40px;
  font-size:10pt;
  width:605px;
 

  opacity:0.5;
  padding:10px;
  border-radius:20px;
  background-color:white;
  
}

